.logo_link {
    color: #95e1d3;
    text-decoration: none;
}


.header {
    margin: 0 auto;
    padding-top: 28px;
    padding-bottom: 28px;
    z-index: 2;
    background-color: #fff;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header_wrapper {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    margin-right: 0;
    font-size: 30pt;
}


.nav {
    width: 490px;
    height: 25px;

}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item_menu {
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    color: #95e1d3;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    position: relative;
}

 .item_menu:hover { 
    color: #f38181;
} 

.sub_menu {
    display: none;
}

.item_menu:hover > .sub_menu {
    display: block;
    position: absolute;
    cursor: pointer;
    background-color: #95e1d3;
}

.sub_item:hover {
    color: #f38181;
    cursor: pointer;
}