.logo_link {
    color: #95e1d3;
    text-decoration: none;
}

.menu_link {
    text-decoration: none;
    color: #95e1d3;
    padding-bottom: 12px;
    text-transform: uppercase;
}

.menu_item {
    display: inline-block;
    margin-right: 57px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.header {
    margin-top: 28px;
    margin-right: 0;
    margin-bottom: 128px;
    color: #ffffff;
    position: fixed;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    margin-right: 0;
    font-size: 30pt;
}

.menu_link:hover {
    color: #f38181;
    border-bottom: 3px solid #f38181;
}

.nav {
    position: absolute;
    bottom: 3px;
    right: 32px;
    width: 520px;
    left: 950px;
}

.menu_item:nth-child(5) {
    margin-right: 0;
}