.copy::before {
    display: block;
    content: '';
    height: 1px;
    width: 1200px;
    background-color: #E5E5E5;
    margin: 0 auto;
    margin-top: 81px;
    margin-bottom: 24px;
}

.copy {
    margin-left: 70px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.span {
    color: #F38181;
}