.h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-bottom: 41px;
    text-transform: uppercase;
    color: #333333;
}

.h4 {
    text-align: center;
    margin-bottom: 22px;
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    margin-bottom: 22px;
    color: #333333;
}



.all_perks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1150px;
    margin: 0 auto;
}

.h3::after {
    display: block;
    content: '';
    height: 4px;
    width: 61px;
    background-color: #F38181;
    margin: 0 auto;
    margin-top: 41px;
}

.main_section {
    width: 1200px;
    margin: 0 auto;
}

.services_text {
    display: flex;
    width: 1150px;
    margin: 0 auto;
    margin-bottom: 92px;
}

.perk {
    display: flex;
    width: 329px;
    margin-bottom: 101px;
}

.perk_text {
    width: 329px;
    margin-bottom: 101px;
}


.text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    width: 274px;
    height: 40px;
    margin-left: 60px;
    color: #999999;
}

.service_title {
    text-align: left;
    color: #666666;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-left: 62px;
}


.icon {
    width: auto;
    height: 32px;

}

.sub_team {
    color: #999999;
    margin: 0 auto;
    margin-bottom: 90px;
    text-align: center;
    width: 940px;
    height: 40px;
}

.photo_team {
    width: 380px;
    height: 470px;
    display: flex;
    justify-content: space-around;
}


.team {
    display: flex;
    justify-content: space-around;
    margin-bottom: 81px;
}

.photo_team:nth-child(3) {
    margin-right: 0;
}

.name_wrapper {
    width: 1200px;
    height: auto;
}

.job {
    display: flex;
    flex-direction: column;
    font-style: italic;
    color: #c6c6c6;
    font-weight: 200;
}

.name {
    color: #333333;
    text-transform: uppercase;
    margin-top: 31px;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.job {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 100;
    color: #B9B9B9;
}

